
<script type="text/javascript" data-main="js/blockMgr.js" src="js/require.js"></script>

<div class="tooltip">
    <div class="tooltip_in">
        <a href="#"><img src="img/bg_tooltip.png" /></a>
        <ul id="infoList">
        </ul>
    </div>

    <input id="blockNum" type="hidden" value= <%= blockNum%> > 

</div>
