<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Project</title>
        <link rel="stylesheet" href="css/jquery.contextMenu.min.css">
        <link rel="stylesheet" href="css/jquery.datetimepicker.css">
        <link rel="stylesheet" href="css/smpSortableTable.css">
        <script src="js/socket.io.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/jquery.datetimepicker.full.js"></script>
        <script src="js/smpSortableTable.js"></script>
        <script type="text/javascript">
        </script>
</head>

<body>
	<div class="wrap">
		<div class="container">
            <div class="content_header">
                <div class="tit_select" style="margin-left: 30px;">
                    <a><select id="power_area" class="selectpicker" style="display: inline; width: 100px;"></select></a>
                    <li>생성 날짜</li>
                    <input id="datetimepickerFrom" type="text">
                    ~
                    <input id="datetimepickerTo" type="text">
                    <button id="queryBlockInfoBtn">검색</button>
                </div>
            </div>
			<div class="dashbox_area">
                <div class="dashbox_cont" style="height:1000px;">
                    <div class="dashbox_tit">
                        <div class="box_tit">
                            Block Info Table
                        </div>
                    </div>
                    <div class="dash_cont" id="chainInfoTableDiv">
                        <table id="chainInfoTable">
                            <colgroup>
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" id="blockNum" style="width:10%;">블록 번호</th>
                                    <th scope="col" id="transactionCount" style="width:10%;">트랜잭션 갯수</th>
                                    <th scope="col" id="timestamp" style="width:30%;">생성 시간</th>
                                    <th scope="col" id="blockSize" style="width:10%;">블록 크기</th>
                                    <th scope="col" id="blockHash" style="width:40%;">해시값</th>
                                </tr>
                            </thead>
                            <tbody id="chainInfoTableBody">
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <ul class="pagination">

                        </ul>
                    </div>
                </div>
                <div class="dashbox_cont">
                        <div class="dashbox_tit">
                            <div class="box_tit">
                                Block Info
                            </div>
                            <div class="dash_info">
                                <ul class="line">
                                    <li>블록 번호 <a class="txt" id="plantCount">4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dash_cont">
                            <table id="transactionsTable">
                                <colgroup>
                                    <col style="width: auto;" />
                                    <col style="width: auto;" />
                                    <col style="width: auto;" />
                                    <col style="width: auto;" />
                                    <col style="width: auto;" />
                                    <col style="width: auto;" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">트랜잭션 ID</th>
                                        <th scope="col">체인코드명</th>
                                        <th scope="col">함수명</th>
                                        <th scope="col">사용자</th>
                                        <th scope="col">토큰 사용량</th>
                                        <th scope="col">결과</th>
                                    </tr>
                                </thead>
                                <tbody id="transactionsTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
    <h1 id="monitorChannelName" style="display: none"><%= monitorChannelName %></h1>
    <h1 id="timestampFrom" style="display: none"></h1>
    <h1 id="timestampTo" style="display: none"></h1>

	<script type="text/javascript" data-main="js/chainInfo.js" src="js/require.js"></script>

</body>
</html>
