<header>
    <div class="header_area">
         <div class="header_box">
             <div class="lnb_area">
                <h1>kt Energy Chain</h1>
                <ul>
                    <li class="on"><a href="/main/energyseoulchannel">트랜잭션 관제</a></li>
                     <li><a href="/chainInfo/energyseoulchannel">체인 정보</a></li>
                    <li><a href="/peerInfo/energyseoulchannel">네트워크 정보</a></li>
                </ul>
            </div>
         <div class="user_area">
            <ul>
                <li><a id="clockDate">2018. 07. 02 Mon</a></li>
                <li><a id="clockTime">03:25:48</a></li>
            </ul>
            <div class="user_photo"><img src="img/img_profile.png" alt=""></div>
            </div>
        </div>
    </div>
</header>
<hr>