<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/tooltip.css" />
	<link rel="stylesheet" href="css/gifplayer.css">
        <link rel="stylesheet" href="css/jquery.contextMenu.min.css">
        <script src="js/socket.io.js"></script>
        <script type="text/javascript" src="js/Chart.bundle.min.js"></script>
        <script type="text/javascript" src="js/jquery.gifplayer.js"></script>
        <script type="text/javascript" src="js/kute.js-master/kute.js"></script>
        <script type="text/javascript" src="js/kute.js-master/kute-jquery.js"></script>
        <script type="text/javascript" src="js/contextMenu/jquery.contextMenu.min.js"></script>
        <script type="text/javascript">
        </script>
</head>

<body>
	<div class="wrap">

		<div class="header_area">
			<div class="header_box">
				<div class="lnb_area">
					<h1>kt Energy Chain</h1>
					<ul>
						<li class="on"><a href="#">에너지 거래</a></li>
						<li><a href="#">DR</a></li>
						<li><a href="#">EV 충전</a></li>
					</ul>
				</div>
				<div class="user_area">
					<ul>
						<li><a id="clockDate">2018. 07. 02 Mon</a></li>
						<li><a id="clockTime">03:25:48</a></li>
					</ul>
					<div class="user_photo"><img src="img/img_profile.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="container">
			<!--ContentHead-->
			<div class="content_header">
				<ul>
					<li>
						<p class="tit">Transactions</p>
						<p class="txt red" id="transactionCount">1,200</p>
					</li>
					<li>
						<p class="tit">Issued Token</p>
						<p class="txt" id="createdCoin">100,000</p>
					</li>
					<li>
						<p class="tit">Trading Token</p>
						<p class="txt blue" id="usedCoin">200,000</p>
					</li>
					<li>
						<p class="tit">Blocks</p>
						<p class="txt" id="currentBlockNumber">9</p>
					</li>
					<li>
						<p class="tit">Regions</p>
						<p class="txt" id="regions">4</p>
					</li>
					<li>
						<p class="tit">Nodes</p>
						<p class="txt" id="allPlantCount">20</p>
					</li>
					<li>
						<p class="tit red">Errors</p>
						<p class="txt red" id="allErrorPlantCount">1</p>
					</li>
				</ul>
			</div>
			<!--//ContentHead-->
			<!--Dashbox-->
			<div class="dashbox_area">
				<div class="dashbox_cont">
					<div class="dashbox_tit">
						<div class="box_tit">Transactions</div>
						<div class="dash_info">
							<ul class="line">
								<li>평균 <a id="averageTransaction">1,500</a> TPS</li>
								<li>최고 <a id="maxTransaction">4,500</a> TPS</li>
							</ul>
						</div>
					</div>
					<div class="dash_cont">
						<canvas id="transactionChart" style="height: 300px;"> 
						</canvas>
					</div>
				</div>
				<div class="dashbox_cont">
					<div class="dashbox_tit">
						<div class="box_tit">Tokens</div>
						<div class="dash_info">
							<ul>
								<li><span class="red"></span> 발행량</li>
								<li><span class="blue"></span> 거래량</li>
							</ul>
						</div>
					</div>
					<div class="dash_cont">
						<canvas id="coinChart" style="height: 300px;">
						</canvas>
					</div>
				</div>
				<div class="dashbox_cont">
					<div class="dashbox_tit">
						<div class="box_tit">Blockchain</div>
						<div class="dash_info">
						</div>
					</div>
					<div class="dash_cont">
						<div class="blockchain_box">
							<img src="img/bg_blockchain.png" alt="" />
							<div id="blockList">
							</div>
						<!--
							<ul>
								<li class="default">
									<a href="#"></a>
									<div class="tooltip">
										
									</div>
								</li>
								<li class="default">
									<a href="#"></a>
									<div class="tooltip">
										
									</div>
								</li>
								<li class="default">
									<a href="#"></a>
									<div class="tooltip">
										
									</div>
								</li>
								<li class="focus">
									<a href="#"></a>
									<div class="tooltip">
										
									</div>
								</li>
								<li class="default">
									<a href="#"></a>
									<div class="tooltip">
										
									</div>
								</li>
							</ul>
						-->
						</div>
					</div>
				</div>
				<div class="dashbox_cont">
					<div class="dashbox_tit">
						<div class="box_tit">
							Region
							<!--tit_select에 open 클레스 붙을 경우 열림-->
							<div class="tit_select" style="margin-left: 30px;">
								<a><select id="power_area" class="selectpicker" style="display: inline; width: 100px;"></select></a>
							<!--
								<a>select</a>
								<div id="power_area">
									<ul>
										<li>충청</li>
										<li>강원</li>
										<li>전라</li>
										<li>경상</li>
									</ul>
								</div>
							-->
							
							</div>
						</div>
						<div class="dash_info">
							<ul class="line">
								<li>개수 <a class="txt" id="plantCount">4</a></li>
								<li>오류 <a class="txt red" id="errorPlantCount">0</a></li>
							</ul>
						</div>
					</div>
					<div class="dash_cont">
						<table id="plantTable">
							<colgroup>
								<col style="width: auto;" />
								<col style="width: auto;" />
								<col style="width: auto;" />
								<col style="width: auto;" />
								<col style="width: auto;" />
								<col style="width: auto;" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">발전소</th>
									<th scope="col">보유량</th>
									<th scope="col">발전량</th>
									<th scope="col">거래량</th>
									<th scope="col">보유 토큰</th>
									<th scope="col">상태</th>
								</tr>
							</thead>
							<tbody id="plantTableBody">
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--//Dashbox-->
		</div>

	</div>

	<div id="showBlockPopup">'쇼'님의 거래 내역이 블록에 저장되었습니다.</div>
	<h1 id="monitorChannelName" style="display: none"><%= monitorChannelName %></h1>

	<script type="text/javascript" data-main="js/charts.js" src="js/require.js"></script>

</body>
</html>
