<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Realtime Analytics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/smoothie.js"></script>
        <script>
          $(function(){
            var smoothie = new SmoothieChart();
            smoothie.streamTo(document.getElementById("chart"), 1000);

            var line1 = new TimeSeries();
            var line2 = new TimeSeries();

            setInterval(function() {
              line1.append(new Date().getTime(), Math.random());
              line2.append(new Date().getTime(), Math.random());
            }, 1000);

            smoothie.addTimeSeries(line1);
            smoothie.addTimeSeries(line2);
          });
        </script>
    </head>
    <body>
        <section>
          <div id="loader" class="loader">
           Loading...
          </div>
          <canvas id="chart" width="400" height="100">
          </canvas>
       </section>
    </body>
</html>
