<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Realtime Analytics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="css/Raleway.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/gifplayer.css">
        <link rel="stylesheet" href="css/jquery.contextMenu.min.css">
        <script src="js/socket.io.js"></script>
        <script type="text/javascript" src="js/Chart.bundle.min.js"></script>
        <script type="text/javascript" src="js/jquery.gifplayer.js"></script>
        <script type="text/javascript" src="js/kute.js-master/kute.js"></script>
        <script type="text/javascript" src="js/kute.js-master/kute-jquery.js"></script>
        <script type="text/javascript" src="js/contextMenu/jquery.contextMenu.min.js"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
      <div id="chartDiv">
          <div id="transactionChartDiv">
              <canvas id="transactionChart">
              </canvas>
          </div>

          <div id="coinChartDiv">
              <canvas id="coinChart">
              </canvas>
          </div>
      </div>
          
      </div>
      <div id="blockDiv">
        <p>현재 블록 숫자 : <span id="currentBlockNumber">Loading..</span> </p>
        <div id="blockList">
        </div>
      </div>

<!--
      <div class="tooltip-templates">
        <span id="tooltip-content">
        </span>
      </div>
    -->
    
    <div id="channelChartDiv">

        <div id="channelChartMenu">
            <span>발전소 현황</span> 
            <select id="power_area" class="selectpicker" style="display: inline;"></select>
            <span style="float: right;">개수: <span id="plant_num"></span></span>
        </div>

            <table id="plantTable" class="table table-dark">
                 <thead>
                     <tr>
                        <th scope="col">발전소</th>
                        <th scope="col">보유량</th>
                        <th scope="col">발전량</th>
                        <th scope="col">거래량</th>
                        <th scope="col">보유 토큰</th>
                        <th scope="col">상태</th>
                    </tr>
                </thead>
                <tbody id="plantTableBody">
        
                </tbody>
            </table>
        
    </div>
      
    <script type="text/javascript" data-main="js/charts.js" src="js/require.js"></script>
    </body>
</html>
