<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Realtime Analytics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
        <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <!--
        <script type="text/javascript" src="js/smoothie.js"></script>
        <script>
          $(function(){
            var smoothie = new SmoothieChart();
            smoothie.streamTo(document.getElementById("chart"), 1000);

            var line1 = new TimeSeries();
            var line2 = new TimeSeries();

            setInterval(function() {
              line1.append(new Date().getTime(), Math.random());
              line2.append(new Date().getTime(), Math.random());
            }, 1000);

            smoothie.addTimeSeries(line1);
            smoothie.addTimeSeries(line2);
          });
        </script>
      -->
    </head>
    <body>
      <!--
        <section>
          <div id="loader" class="loader">
           Loading...
          </div>
          <canvas id="chart" width="400" height="100">
          </canvas>
       </section>
      -->
      <div>
          <section id="transactionChartSection">
            <!--
              <div id="transactionChartLoader" class="loader">
               Loading...
              </div>
            -->
              <canvas id="transactionChart" width="40%" height="30%">
              </canvas>
          </section>
            <!--
              <div id="coinChartLoader" class="loader">
                Loading...
              </div>
            -->
            <section id="coinChartSection">
              <canvas id="coinChart" width="40%" height="30%">
              </canvas>
            </section>
      </div>

    <script type="text/javascript"data-main="js/charts.js" src="js/require.js"></script>
    </body>
</html>
