<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Realtime Analytics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="css/Raleway.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/gifplayer.css">
        <script src="js/Chart.bundle.min.js"></script>
        <script src="js/socket.io.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.gifplayer.js"></script>
        <script type="text/javascript" src="js/kute.js-master/kute.js"></script>
        <script type="text/javascript" src="js/kute.js-master/kute-jquery.js"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
      <div id="chartDiv">
          <div id="transactionChartDiv">
              <canvas id="transactionChart">
              </canvas>
          </div>

          <div id="coinChartDiv">
              <canvas id="coinChart">
              </canvas>
          </div>
      </div>
      <div id="blockDiv">
        <button id="add-block-button">ADD BLOCK</button>
        <p>현재 블록 숫자 : <span id="currentBlockNumber">Loading..</span> </p>
        <div id="blockList">
        </div>
      </div>
      
    <script type="text/javascript"data-main="js/charts.js" src="js/require.js"></script>
    </body>
</html>
