<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Project</title>
        <link rel="stylesheet" href="css/jquery.contextMenu.min.css">
        <script src="js/socket.io.js"></script>
        <script type="text/javascript">
        </script>
</head>

<body>
	<div class="wrap">
		<div class="container">
            <div class="content_header">
                <div class="tit_select" style="margin-left: 30px;">
                    <a><select id="power_area" class="selectpicker" style="display: inline; width: 100px;"></select></a>
                </div>
            </div>
			<div class="dashbox_area">
                <div class="dashbox_cont" style="height:1000px;">
                    <div class="dashbox_tit">
                        <div class="box_tit">
                            Peer Info Table
                        </div>
                    </div>
                    <div class="dash_cont" id="peerInfoTableDiv" style="height: 900px;">
                        <table id="peerInfoTable">
                            <colgroup>
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" id="containerName" style="width:30%;">컨테이너 이름</th>
                                    <th scope="col" id="nodeArea" style="width:10%;">노드 위치</th>
                                    <th scope="col" id="networkAdress" style="width:20%;">네트워크 주소</th>
                                    <th scope="col" id="nodeStatus" style="width:10%;">상태</th>
                                </tr>
                            </thead>
                            <tbody id="peerInfoTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dashbox_cont">
                    <div class="dashbox_tit">
                        <div class="box_tit">
                            Peer Info
                        </div>
                    </div>
                    <div class="dash_cont">
                        노드명: <a id="nodeAreaInfo"></a><br>
                        노드 IP 주소: <a id="networkAddressInfo"></a><br>
                        가입 채널: <a id="channelListInfo"></a><br>
                        설치된 체인 코드: <a id="installedChaincodeInfo"></a><br>

                        <div>
                            상태: <a id="nodeStatusInfo"></a>
                            CPU 사용량: <a id="cpuUsageInfo"></a>
                            메모리 사용량: <a id="memoryUsageInfo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h1 id="monitorChannelName" style="display: none"><%= monitorChannelName %></h1>
    <h1 id="timestampFrom" style="display: none"></h1>
    <h1 id="timestampTo" style="display: none"></h1>

	<script type="text/javascript" data-main="js/peerInfo.js" src="js/require.js"></script>

</body>
</html>