html {
    overflow-x: scroll;
    height: 100%;
}

body{
    margin:0;
    padding:0;
    height: 100%;
    font-family: Raleway;
}

header{
    background: #2b303b;
    height: 3%;
    width:100%;
    display: flex;
    color:#fff;
}

.logo img{
  height: 45px;
}

.subheader{
    display: flex;
    align-items: center;
    margin: 0px;
}

.logout{
    flex:1;
    justify-content: flex-end;
    padding:15px;
    display: none;
}

.logout a{
    color:#fff;
    text-decoration: none;
}

#chartDiv {
    position: relative;
    left: 0px;
    top: 100px;
    width: 100%;
    height: 50%;
}

#blockDiv {
    position: relative;
    float: left;
    top: 10%;
    left: 100px;
    width: 50%;
    height: 30%;
}

#blockList {
}

#transactionChart {
}

#coinChart {
}

#transactionChartDiv {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
}

#coinChartDiv {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
}

#container {
    position: relative;
    display: block;
}

#channelChartDiv {
    position: relative;
    float: left;
    top: 10%;
    width: 50%;
    height: 30%;
    padding: 10px;
}

.box {
    width: 150px;
    height: 150px;
    float: left;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    float: left;
    position: absolute; top: 70px;
}

.block-gif {
    width: 100px;
    height: 100px;
}

.block-num {
    position: relative;
    top: -50px;
}

#channelChartMenu {
    float: left;
    width: 80%;
}

#plantTable {
}