html {
    overflow-x: scroll;
}

body{
    margin:0;
    padding:0;
    position: absolute;
    font-family: Raleway;
}

header{
    background: #2b303b;
    height: 10%;
    width:100%;
    display: flex;
    color:#fff;
}

.logo img{
  height: 45px;
}

.subheader{
    display: flex;
    align-items: center;
    margin: 0px;
}

.logout{
    flex:1;
    justify-content: flex-end;
    padding:15px;
    display: none;
}

.logout a{
    color:#fff;
    text-decoration: none;
}

#chartDiv {
    position: fixed;
    left: 0px;
    top: 100px;
    width: 85%;
    height: 30%;
    float: center;
}

#blockDiv {
    position: fixed;
    top: 550px;
    width: 100%;
}

#blockList {
}

#transactionChart {
}

#coinChart {
}

#transactionChartDiv {
    float: left;
    width: 45%;
    height: 30%;
    padding: 10px;
}

#coinChartDiv {
    float: left;
    width: 45%;
    height: 30%;
    padding: 10px;
}

#container {
    position: relative;
    display: block;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
    color: #fff;
    font-size: 40px;
    line-height:150px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    float: left;
    position: absolute; top: 70px;
}

.b1 { background-color: #9C27B0; }
.b2 { background-color: #2196F3; }
.b3 { background-color: #FF5722; }